* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #295b88;
}
.userbody
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 10px auto;
   
    background-color: rgb(182, 179, 179);
}

.btn{
    margin: 5px 77px;
    padding: 5px 10px;
    width: 53px;
    border-radius: 5px;
}
input{
    padding: 5px 5px;
}
.box{
    /* padding: 5px 5px; */
    margin: 7px;
}
#b1{
    margin-left: 52px; 
}
/* #data{
    display: flex;
    justify-content: center;
    background-color: rgb(182, 179, 179);
} */

.information {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 50%;
    margin: 10px auto;
    background-color: rgb(182, 179, 179);
    border-radius: 5px;
}

.attribute {
    background-color: teal;
    color: white;
    padding: 5px 10px;
    margin: 15px;
}