* {
    margin: 0;
    padding: 0;
}

.querybox {
    box-sizing: border-box;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 2px 3px 8px black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 10px 0;
    background-color: rgb(182, 179, 179);
    border-radius: 5px;
}

.query {
    flex-direction: column;
}

.btn {
    padding: 5px 10px;
    width: fit-content;
    border-radius: 5px;
    margin: 10px;
}

input {
    padding: 5px 5px;
}

.box {
    /* padding: 5px 5px; */
    margin: 7px;
}

#b1 {
    margin-left: 52px;
}
/* #data{
    display: flex;
    justify-content: center;
    background-color: rgb(182, 179, 179);
} */

.attribute {
    background-color: teal;
    color: white;
    padding: 5px 10px;
    margin: 5px 10px;
}
